table.mat-table .mat-row:nth-child(even) {
    background-color: #32435e;
    color: white;
}

table.mat-table .mat-row:nth-child(odd) {
    background-color: #49699c;
    color: white;
}

.mat-header-row {
    background-color: #32435e;
    color: white;
}